// Default Theme Color Palette

// Red
$red-light: #f44336;
$red-dark: #e53935;

// Pink
$pink-light: #f06292;
$pink-dark: #ec407a;

// Purple
$purple-light: #ba68c8;
$purple-dark: #ab47bc;

// Blue
$blue-light: #3281ea;
$blue-dark: #1a73e8;

// Teal
$teal-light: #4db6ac;
$teal-dark: #009688;

// Green
$green-light: #66bb6a;
$green-dark: #4caf50;
$sea-light: #81c995;
$sea-dark: #0f9d58;

// Yellow
$yellow-light: #fbc02d;
$yellow-dark: #ffd600;

// Orange
$orange-light: #fb8c00;
$orange-dark: #f57c00;

// Grey
$grey-050: #fafafa;
$grey-100: #f2f2f2;
$grey-150: #eeeeee;
$grey-200: #dddddd;
$grey-250: #cccccc;
$grey-300: #bfbfbf;
$grey-350: #a0a0a0;
$grey-400: #9e9e9e;
$grey-450: #868686;
$grey-500: #727272;
$grey-550: #555555;
$grey-600: #464646;
$grey-650: #3c3c3c;
$grey-700: #2c2c2c;
$grey-750: #242424;
$grey-800: #212121;
$grey-850: #121212;
$grey-900: #0f0f0f;
$grey-950: #030303;

// White
$white: #ffffff;

// Black
$black: #000000;

// Windows Button
$button-close: #fd5f51;
$button-max: #4d4d4d;
$button-min: #4d4d4d;
